.wrapper {
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 490px 310px;
    grid-row-gap: 30px;
    justify-content: space-between;
    max-width: 933px;
    grid-template-areas: "description features"
        "media  features"
        ".  features";
}

.title-and-description {
    grid-area: description;
}

.features {
    grid-area: features;
}

.media {
    grid-area: media;
    display: grid;
    align-items: center;
    grid-template-columns: max-content 1fr;
}

@media screen and (max-width: 860px) {
    .media {
        align-items: flex-start;
    }

    .wrapper {
        grid-template-columns: 385px 310px;
    }

    .media-content {
        width: fit-content;
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        grid-template-areas: "description"
            "features"
            "media";

        grid-template-columns: auto;
    }

    html {
        font-size: 14px;
    }

    main {
        padding: 2rem 1.3rem;
    }
}