.wrapper {
    display: grid;
    grid-template-columns: 490px 310px;
    grid-column-gap: 10px;
    justify-content: space-between;
    max-width: 933px;
}

.media {
    display: grid;
    align-items: flex-start;
    grid-template-columns: max-content 1fr;
}

@media screen and (max-width: 860px) {
    .wrapper {
        grid-template-columns: 385px 310px;
    }

    .media-content {
        max-width: 300px;
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        grid-template-columns: 1fr;
    }

    .features {
        height: auto;
    }

    html {
        font-size: 14px;
    }

    main {
        padding: 2rem 1.3rem;
    }
}